.app{
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 15px;
}
.main-image{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.audio{
    padding: 20px;
    width: 40%;
}
@media (max-width: 600px) {
    .audio{
        width: 80%;
    }
}