.app{
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 15px;
}
.text-container{

}
.main-image{
    height: auto;
    max-width: 1000px;
    max-height: 500px;
    object-fit: cover;
}
.audio{
    padding: 20px;
    width: 40%;
}
@media (max-width: 600px) {
    .audio{
        width: 80%;
    }
}